@model SalaryDetailsViewModel

@{
    ViewBag.Title = "Salary Deatils";
}

<div class="container row">
    <div class="card" style="width: 100%">
        <div class="card-header">
            Employment Details
        </div>
        <div class="card-body">
            <p><strong>Company</strong>: @Model.CompanyName</p>
            <br />
            <p><strong>Student</strong>: @Model.StudentName</p>
            <br />
            <p><strong>Role</strong>: @Model.Role</p>
            <br />
            <p><strong>Amount</strong>: @Model.Amount</p>
            <br />
            <p><strong>Date</strong>: @Model.Date</p>
            <br />
            <p><strong>PayDay</strong>: @Model.PayDay</p>
            <br />

            <div class="card-footer">
                <form method="post" asp-controller="salary" asp-action="remove" asp-route-id="@Model.Id">
                    <button class="btn btn-default border" asp-action="index" style="width: auto">Back</button>
                    <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary mx-4" style="width: auto">Edit</a>

                    <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                        Are You Sure?
                        <a class="btn btn-default border ml-4" style="width: auto" onclick="deleteData(@Model.Id, false)">No</a>
                        <button type="submit" class="btn btn-danger" style="width: auto">Yes</button>
                    </span>

                    <span id="deleteSpan_@Model.Id">
                        <a class="btn btn-danger" style="width: auto" onclick="deleteData(@Model.Id, true)">Delete</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
