@model Company


    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4>@Model.Name</h4>
            </div>
            <div class="card-body mt-4">
                <p>Address:   @Model.Address</p>
                <p>Contact Name:   @Model.ContactName</p>
                <p>Contact Email:   @Model.ContactEmail</p>
            </div>
        </div>

        @if (Model.Employments != null && Model.Employments.Count > 0)
        {
            <div class="card mt-4">
                <div class="card-header">
                    <h6>Employments</h6>
                </div>
                <div class="card-body mt-4">

                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        @foreach (var employment in Model.Employments)
                        {
                            <tr>
                                <td>@_empRepository.GetStudent(employment.StudentId).Name</td>
                                <td>@employment.StartDate</td>
                                <td>@employment.EndDate</td>
                                @if (employment.Salary != null)
                                {

                                    <td>@employment.Salary.Amount</td>
                                }
                                else
                                {
                                    <td>Not stated yet</td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }


    <div class="card-footer mt-4">
        <form method="post" asp-controller="company" asp-action="remove" asp-route-id="@Model.CompanyId">
            <button class="btn btn-default border" asp-action="index" style="width: auto">Back</button>
            <a asp-action="edit" asp-route-id="@Model.CompanyId" class="btn btn-primary mx-4" style="width: auto">Edit</a>

            <span id="confirmDeleteSpan_@Model.CompanyId" style="display:none">
                Are You Sure?
                <a class="btn btn-default border ml-4" style="width: auto" onclick="deleteData(@Model.CompanyId, false)">No</a>
                <button type="submit" class="btn btn-danger" style="width: auto">Yes</button>
            </span>

            <span id="deleteSpan_@Model.CompanyId">
                <a class="btn btn-danger" style="width: auto" onclick="deleteData(@Model.CompanyId, true)">Delete</a>
            </span>
        </form>
    </div>
    </div>