@model Company


    <div class="container">
        <div class="card">
            <div class="card-header bg-primary">
                <h4>@Model.Name</h4>
            </div>
            <div class="card-body mt-4">
                <p>Address:   @Model.Address</p>
                <p>Contact Name:   @Model.ContactName</p>
                <p>Contact Email:   @Model.ContactEmail</p>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h6>Employments</h6>
            </div>
            <div class="card-body mt-4">
                @if (Model.Employments != null)
                {
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    @foreach (var employment in Model.Employments)
                    {
                        <tr>
                            <td>@_empRepository.GetStudent(employment.StudentId).Name</td>
                            <td>@employment.StartDate</td>
                            <td>@employment.EndDate</td>
                            @if (employment.Salary != null)
                            {

                                <td>@employment.Salary.Amount</td>
                            }
                            else
                            {
                                <td>Not stated yet</td>
                            }
                        </tr>
                    }
                </table>
                }
            </div>
        </div>

        <div class="card-footer mt-4">
            <a asp-action="Index" class="btn btn-default border">Back</a>
        </div>
    </div>