@model EmploymentIndexViewModel

<div class="card">
    <div class="card-header">
        Employment Details
    </div>
    <div class="card-body">
        <p><strong>Company</strong>: @Model.Company</p>
        <br />
        <p><strong>Student</strong>: @Model.StudentName</p>
        <br />
        <p><strong>Start Date</strong>: @Model.StartDate</p>
        <br />
        <p><strong>End Date</strong>: @Model.EndDate</p>
        <br />

        @if (Model.Salary != 0)
        {
            <p><strong>Salary</strong>: @Model.Salary</p>
            <br />
        }
        else
        {
            <p><strong>Salary</strong>: Not Specified Yet</p>
            <br />
        }
    </div>

    <div class="card-footer">
        <form method="post" asp-controller="employment" asp-action="remove" asp-route-id="@Model.Id">
            <a class="btn btn-primary" asp-action="index" style="width: auto">Back</a>
            <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-primary mx-4" style="width: auto">Edit</a>

            <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                Are You Sure?
                <a class="btn btn-default border ml-4" style="width: auto" onclick="deleteData(@Model.Id, false)">No</a>
                <button type="submit" class="btn btn-danger" style="width: auto">Yes</button>
            </span>

            <span id="deleteSpan_@Model.Id">
                <a class="btn btn-danger" style="width: auto" onclick="deleteData(@Model.Id, true)">Delete</a>
            </span>
        </form>
    </div>
</div>

