@model PaymentDetailsAjaxViewModel

@{
    ViewBag.Title = "Payment Details";
    ViewBag.controller = "guarantor";
}

<div class="card">
    <div class="card-header">
        @Model.StudentName
    </div>
    <div class="card-body">
        <h4 class="card-title">@Model.StudentName</h4>
        <h6>Amount Paid: @Model.AmountPaid</h6>
        <h6>Payment Date: @Model.Date</h6>
    </div>

    <div class="card-header">
        <form method="post" asp-controller="paymentdetails" asp-action="remove" asp-route-id="@Model.Id">
            <a class="btn btn-default border" asp-controller="paymentdetails" asp-action="index">Back</a>
            <a class="btn btn-primary" asp-controller="paymentdetails" asp-action="edit" asp-route-id="@Model.Id">Edit</a>

            <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                Are You Sure?
                <a class="btn btn-default border ml-4" style="width: auto" onclick="deleteData(@Model.Id, false)">No</a>
                <button type="submit" class="btn btn-danger" style="width: auto">Yes</button>
            </span>

            <span id="deleteSpan_@Model.Id">
                <a class="btn btn-danger" style="width: auto" onclick="deleteData(@Model.Id, true)">Delete</a>
            </span>
        </form>
    </div>
</div>
